@charset "UTF-8";
/* line 17, E:/ВЕРСТКА/netology/sass/dz/style.sass */
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #212121; }

/* line 22, E:/ВЕРСТКА/netology/sass/dz/style.sass */
h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: normal; }

/* line 27, E:/ВЕРСТКА/netology/sass/dz/style.sass */
hr {
  width: 65px; }

/* line 30, E:/ВЕРСТКА/netology/sass/dz/style.sass */
section {
  text-align: center;
  float: left;
  clear: both;
  width: 100%; }

/* line 36, E:/ВЕРСТКА/netology/sass/dz/style.sass */
.testimonials {
  width: 1100px;
  margin: 0 auto; }
  /* line 39, E:/ВЕРСТКА/netology/sass/dz/style.sass */
  .testimonials > section {
    margin-bottom: 100px; }
  /* line 41, E:/ВЕРСТКА/netology/sass/dz/style.sass */
  .testimonials hr {
    border: 1px solid #ff8b38; }
  /* line 43, E:/ВЕРСТКА/netology/sass/dz/style.sass */
  .testimonials h3 {
    margin-bottom: 60px;
    margin-top: 20px;
    color: #a9aaac;
    font-weight: normal; }
  /* line 48, E:/ВЕРСТКА/netology/sass/dz/style.sass */
  .testimonials .testimonial {
    display: inline-box;
    width: 33.33333%;
    float: left;
    padding: 0 40px;
    text-align: left; }
    /* line 54, E:/ВЕРСТКА/netology/sass/dz/style.sass */
    .testimonials .testimonial:first-child {
      padding-left: 20px; }
      /* line 56, E:/ВЕРСТКА/netology/sass/dz/style.sass */
      .testimonials .testimonial:first-child .text {
        margin-right: 20px; }
    /* line 58, E:/ВЕРСТКА/netology/sass/dz/style.sass */
    .testimonials .testimonial:last-child {
      padding-right: 20px; }
      /* line 60, E:/ВЕРСТКА/netology/sass/dz/style.sass */
      .testimonials .testimonial:last-child .text {
        margin-left: 20px; }
      /* line 62, E:/ВЕРСТКА/netology/sass/dz/style.sass */
      .testimonials .testimonial:last-child .b-ungle {
        margin-left: 10%; }
      /* line 64, E:/ВЕРСТКА/netology/sass/dz/style.sass */
      .testimonials .testimonial:last-child img {
        margin-left: 20px; }
    /* line 66, E:/ВЕРСТКА/netology/sass/dz/style.sass */
    .testimonials .testimonial .text {
      background-color: #f5f5f5;
      color: #a9aaac;
      padding: 20px 15px;
      margin-bottom: 25px;
      border-radius: 3px; }
    /* line 72, E:/ВЕРСТКА/netology/sass/dz/style.sass */
    .testimonials .testimonial .b-ungle {
      position: relative;
      margin-top: -26px;
      margin-left: 5%;
      width: 20px;
      height: 20px;
      overflow: hidden; }
    /* line 79, E:/ВЕРСТКА/netology/sass/dz/style.sass */
    .testimonials .testimonial .b-ungle__rotate {
      position: relative;
      width: 40px;
      height: 20px;
      background-color: #f5f5f5;
      -webkit-transform: rotate(45deg);
      -khtml-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    /* line 85, E:/ВЕРСТКА/netology/sass/dz/style.sass */
    .testimonials .testimonial .responder {
      margin-top: 5px; }
      /* line 87, E:/ВЕРСТКА/netology/sass/dz/style.sass */
      .testimonials .testimonial .responder img {
        margin-right: 20px;
        float: left; }
      /* line 90, E:/ВЕРСТКА/netology/sass/dz/style.sass */
      .testimonials .testimonial .responder .name {
        float: left;
        display: block;
        width: 60%;
        font-weight: bolder;
        font-size: 1.3rem; }
      /* line 96, E:/ВЕРСТКА/netology/sass/dz/style.sass */
      .testimonials .testimonial .responder .job {
        float: left;
        display: block;
        color: #a9aaac; }

/* line 101, E:/ВЕРСТКА/netology/sass/dz/style.sass */
.custom-section {
  background: url(custom-section-bg.jpg);
  color: #fff;
  padding-top: 50px;
  height: 330px; }
  /* line 106, E:/ВЕРСТКА/netology/sass/dz/style.sass */
  .custom-section .slogan {
    color: #c4c2bf;
    font-weight: 400; }
  /* line 109, E:/ВЕРСТКА/netology/sass/dz/style.sass */
  .custom-section hr {
    margin: 20px auto; }
  /* line 111, E:/ВЕРСТКА/netology/sass/dz/style.sass */
  .custom-section .button {
    border: 2px solid #fff;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    margin: 30px auto;
    display: block;
    width: 150px;
    font-family: 'Open Sans', sans-serif; }
    /* line 120, E:/ВЕРСТКА/netology/sass/dz/style.sass */
    .custom-section .button:hover {
      background-color: #fff;
      color: #a9aaac; }

/*# sourceMappingURL=style.css.map */