@charset "UTF-8";
/* line 9, E:/ВЕРСТКА/netology/sass/dz/style.sass */
body {
  font-family: Open-Sans;
  font-size: 16px;
  color: #212121; }

/* line 14, E:/ВЕРСТКА/netology/sass/dz/style.sass */
h2 {
  font-size: 2rem; }

/* line 17, E:/ВЕРСТКА/netology/sass/dz/style.sass */
section {
  text-align: center; }

/* line 20, E:/ВЕРСТКА/netology/sass/dz/style.sass */
.testimonials {
  width: 1100px;
  margin: 0 auto; }
  /* line 23, E:/ВЕРСТКА/netology/sass/dz/style.sass */
  .testimonials h2 {
    text-transform: uppercase; }
  /* line 25, E:/ВЕРСТКА/netology/sass/dz/style.sass */
  .testimonials hr {
    color: orange; }
  /* line 27, E:/ВЕРСТКА/netology/sass/dz/style.sass */
  .testimonials .testimonial {
    display: inline-box;
    width: 33.33333%;
    float: left;
    padding: 0 40px; }
    /* line 32, E:/ВЕРСТКА/netology/sass/dz/style.sass */
    .testimonials .testimonial:first-child {
      padding-left: 20px; }
      /* line 34, E:/ВЕРСТКА/netology/sass/dz/style.sass */
      .testimonials .testimonial:first-child .text {
        margin-right: 20px; }
    /* line 36, E:/ВЕРСТКА/netology/sass/dz/style.sass */
    .testimonials .testimonial:last-child {
      padding-right: 20px; }
      /* line 38, E:/ВЕРСТКА/netology/sass/dz/style.sass */
      .testimonials .testimonial:last-child .text {
        margin-left: 20px; }
    /* line 40, E:/ВЕРСТКА/netology/sass/dz/style.sass */
    .testimonials .testimonial .text {
      background-color: #f5f5f5;
      color: #a9aaac;
      padding: 10px 5px;
      border-radius: 3px; }

/*# sourceMappingURL=style.css.map */