$black: #212121
$grey: #a9aaac
$testimonial-width: 100%/3
$light-grey: #f5f5f5
$orange: #ff8b38
$white: #fff
$dark-white: #c4c2bf

@mixin balun-corner($radius) 
    -webkit-transform: rotate($radius)
    -khtml-transform: rotate($radius)
    -moz-transform: rotate($radius)
    -ms-transform: rotate($radius)
    -o-transform: rotate($radius)
    transform: rotate($radius)

body
    font-family: 'Raleway', sans-serif
    font-size: 16px
    color: $black
    
h2 
    font-size: 2rem
    text-transform: uppercase
    font-weight: normal

hr
    width: 65px
 
section 
    text-align: center
    float: left
    clear: both
    width: 100%

.testimonials
    width: 1100px
    margin: 0 auto
    &>section
        margin-bottom: 100px
    hr
        border: 1px solid $orange
    h3
        margin-bottom: 60px
        margin-top: 20px
        color: $grey
        font-weight: normal
    .testimonial
        display: inline-box
        width: $testimonial-width
        float: left
        padding: 0 40px
        text-align: left
        &:first-child
            padding-left: 20px
            .text
                margin-right: 20px
        &:last-child
            padding-right: 20px
            .text
                margin-left: 20px
            .b-ungle
                margin-left: 10%
            img
                margin-left: 20px
        .text 
            background-color: $light-grey
            color: $grey
            padding: 20px 15px 
            margin-bottom: 25px
            border-radius: 3px
        .b-ungle
            position: relative
            margin-top: -26px
            margin-left: 5%
            width: 20px
            height: 20px
            overflow: hidden
        .b-ungle__rotate 
            position: relative
            width: 40px
            height: 20px
            background-color: $light-grey
            @include balun-corner(45deg)
        .responder
            margin-top: 5px
            img
                margin-right: 20px
                float: left
            .name
                float: left
                display: block
                width: 60%
                font-weight: bolder
                font-size: 1.3rem
            .job
                float: left
                display: block
                color: $grey
                
.custom-section
    background: url(custom-section-bg.jpg)
    color: $white
    padding-top: 50px
    height: 330px
    .slogan
        color: $dark-white
        font-weight: 400
    hr
        margin: 20px auto
    .button
        border: 2px solid $white
        line-height: 40px
        color: $white
        text-decoration: none
        margin: 30px auto
        display: block
        width: 150px
        font-family: 'Open Sans', sans-serif
        &:hover
            background-color: $white
            color: $grey